[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.3"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell"]
# Target platforms to build apps for (Rust target-triple syntax)
# macOS only for now (Linux planned)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin"]
# Generate and upload checksums
checksum = "sha256"
